body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(255, 231, 136);
}

h1 {
    color: white;
}

p,
li {
    font-size: 20px;
}

p {
    color: orangered;
}


h2 {
    color: red;
}

img {
    height: auto;
    width: 250px; 
}